<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  
</div>
<h2>Here are some links to help you start: </h2>

<select class="form-control" id="selectedCountry"  required
                [(ngModel)]="selectedCountry" name="selectedCountry"
                >
   <option *ngFor="let country of countries" [value]="country.country">{{country.country}}</option>
 </select>

<table>
	<tr *ngFor="let hero of heroes | CountryPipe : selectedCountry" > 
		<td>{{hero.name}}</td>
		<td>{{hero.country}}</td>
	</tr>
</table>
